<header class="mainHeader">
    <nav class="mainHeader__nav">
        <ul class="mainHeader__list">
            <li class="mainHeader__item <%= path == '/reg' ? 'active' : '' %>"><a href="/reg">Register Here</a></li>
            <li class="mainHeader__item <%= path == '/users' ? 'active' : '' %>"><a href="/users">User List</a></li>
        </ul>
    </nav>
</header>